.bg-image1 {
  background-image: url('../gazou/monhann1.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.bg-image2 {
  background-image: url('../gazou/mori.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.bg-image3 {
  background-image: url('../gazou/DQ1.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.bg-mask {
  height: 100%;
  background: rgba(255,255,255,0.5);
}


.buki{
  font-size: 20px;
}
.syabo{
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../gazou/syabonn.png'); 
  }
.naiyou{
  padding-left: 20px;
}
https://ja.pngtree.com/pay?b=60